@import "@fontsource/montserrat";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', Arial, sans-serif;

  .header,
  .main .profile,
  .main .about-me,
  .main .skill,
  .main .service {
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 1400px) {
      padding: 0 calc((100vw - 1360px) / 2);
    }

    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
      padding-left: 36px;
      padding-right: 36px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
      padding-left: 44px;
      padding-right: 44px;
    }
  }

  .main {
    .profile,
    .about-me,
    .skill,
    .service {
      padding-top: 36px;
      padding-bottom: 36px;

      @media screen and (min-width: 992px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }

    .about-me-content {
      @media screen and (max-width: 768px) {
        text-align: justify;
      }
    }

    .about-me-button-wrapper {
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}